## SML/NJ stuff ##
.cm/

## macOS finder
.DS_Store

## generated lexer and parser
src/parser/mml.grm.sml
src/parser/mml.lex.sml

## heap image
bin/mlc.amd64-linux
bin/mlc.amd64-darwin
bin/mlc.x86-win32

# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf
